<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>files</title>
  <link rel="stylesheet" href="sessionsStyle.css">
</head>
<body>
<header>
  <h1>Сеансы</h1>
</header>
<main>
  <nav>
    <div class="upload">
      <button type="button" onclick="document.getElementById('uploadForm').style.display='block'">Добавить сеанс</button>
      <div id="uploadForm" style="display:none">
        <form th:action="@{/sessions/add}" method="post">
          <label for="name">Название фильма:</label>
          <input type="text" id="name" name="title" required><br><br>
          <label for="start">Начало фильма</label>
          <input type="text" id="start" name="startFilm" required><br><br>
          <label for="price">Стоимость билета</label>
          <input type="text" id="price" name="price" required><br><br>
          <label for="duration">Длительность фильма:</label>
          <input type="text" id="duration" name="duration" required><br><br>
          <button type="submit">Добавить сеанс:</button>
        </form>
        <br>
      </div>
    </div>
  </nav>
  <section>
    <h2>Все сеансы</h2>
    <table class="sessions_table">
      <thead>
      <tr>
        <th>ID  .</th>
        <th> Название фильма</th>
        <th> Начало сеанса</th>
        <th> Стоимость</th>
        <th> Длительность</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="sessionObject : ${sessionObjectList}">
        <td th:text="${sessionObject.id}"></td>
        <td th:text="${sessionObject.title}"></td>
        <td th:text="${sessionObject.startFilm}"></td>
        <td th:text="${sessionObject.price}"></td>
        <td th:text="${sessionObject.duration}"></td>
        <td>
          <a th:href="@{/delete/{id} (id =${sessionObject.getId()})}">DELETE</a>
          <a th:href="@{/edit/{id} (id =${sessionObject.getId()})}">EDIT</a>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</main>
</body>
</html>